@import url("https://fonts.cdnfonts.com/css/inter");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.section {
  @apply px-[85px];
}

.logo {
  @apply w-[152.3px] h-[26px];
  object-fit: cover;
}

.primary-btn {
  @apply bg-blue-700 text-white;
}
.outlined-btn {
  @apply text-gray-900 border border-solid border-gray-400;
}
